pip~=23.0.1
amqp~=5.2.0
vine~=5.1.0
Django~=4.2.9
kombu~=5.3.5
billiard~=4.2.0
celery~=5.3.6
click~=8.1.7
python-dateutil~=2.8.2
asgiref~=3.7.2
sqlparse~=0.4.4
wcwidth~=0.2.13
six~=1.16.0
setuptools~=66.1.1
django-celery-beat~=2.5.0
requests~=2.31.0
django_extensions~=3.2.3