{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
<h1>Admin Page</h1>
<h2>Sources table</h2>
<table id="myTable" class="sourceTable">
    <tr>
        <th class="idColumn">ID</th>
        <th>Name</th>
        <th>WMO id</th>
        <th>URL</th>
        <th style="border: none; background-color:white;"></th>
        <th style="border: none; background-color:white;"></th>
    </tr>
    {% for source in data.data %}
    <tr>
        <td class="idColumn">{{source.id}}</td>
        <td>{{source.name}}</td>
        <td>{{source.wmo_id}}</td>
        <td>{{source.url}}</td>
        <td title="Edit" onclick="editSource(this)" class="editRow">🖉</td>
        <td title="Remove" onclick="removeSource(this)"
            class="editRow">🗑</td>
    </tr>
    {% endfor %}
</table>
<button class="submitButton" type="button" onclick="editSource()">Add Source +</button>
<button title="Click to ingest new data from sources" class="submitButton" type="button" onclick="manualIngest()">Do Manual Ingest</button>
<!--Popup Window-->

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form class="test" name="hi" method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <table class="editableTable" id="editSourceTable">
                <tr>
                    <th class="idColumn">ID</th>
                    <th>Name</th>
                    <th>WMO_id</th>
                    <th>URL</th>
                </tr>
                <tr>
                    <td class="idColumn"><input id="new_id" name="id" value="{{source.id}}"></td>
                    <td><input id="new_name" name="name" value="{{source.name}}"></td>
                    <td><input id="new_wmo" name="wmo_id" value="{{source.wmo_id}}"></td>
                    <td><input id="new_url" name="url" value="{{source.url}}"></td>
                </tr>
            </table>
            <button class="submitButton" role="submit" type="submit">Update</button>
        </form>
    </div>
</div>

<script>
    function removeSource(element) {
    if (confirm("Are you sure you want to delete this entry?")){
        console.log("pressed ok");
        source_id = element.parentElement.cells[0].innerHTML;
        console.log(element.parentElement.cells[0].innerHTML)
        var request = new XMLHttpRequest();
        request.ready
        url = "{% url 'delete_source' %}" ;
        request.open("POST", url) ;
        var CSRF_TOKEN = '{{ csrf_token }}';
        request.setRequestHeader("X-CSRFToken", CSRF_TOKEN);
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        request.send("id=" + source_id);


    }
}



    function editSource(element=false) {
        var wmo_mapping = {{ data.wmo_dict| safe }};
        if (element != false){
            var wmo_id = element.parentElement.cells[2].innerHTML;
            console.log(wmo_id);
            console.log(wmo_mapping[wmo_id]);
            observation = wmo_mapping[wmo_id];
            document.getElementById("new_wmo").readOnly = true;
            document.getElementById("new_id").value = observation.id;
            document.getElementById("new_name").value = observation.name;
            document.getElementById("new_wmo").value = observation.wmo_id;
            document.getElementById("new_url").value = observation.url;
           }
        else {
        document.getElementById("new_wmo").readOnly = false;
        document.getElementById("new_id").value = "";
        document.getElementById("new_name").value = "";
        document.getElementById("new_wmo").value = "";
        document.getElementById("new_url").value = "";
        }



        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        modal.style.display = "block";
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            }

        // When the user clicks anywhere outside the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                }
            }
    }

    function manualIngest() {
        location.href = '/do_manual_ingest';
        alert('Ingesting data...')
    }
</script>

{% endblock %}