<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
    <script src="{% static 'woe/WOE_JS.js' %}"></script>
    <link rel="stylesheet" href="{% static 'woe/style.css' %}">
</head>
<body>
<div class="navigation">
            <button><a href="{% url 'index' %}">Home</a></button>
            <button><a href="{% url 'admin' %}">Admin</a></button>
            <button><a href="{% url 'dev_page' %}">Dev</a></button>
            <button><a href="{% url 'user_page' %}">User</a></button>
        </div>
<div class="content">
{% block content %}{% endblock %}
</div>
</body>
</html>