{% extends "base.html" %}
{% block title %}Dev{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
<h1>Developer Page</h1>
<form class="fileUpload" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input multiple name="document" type="file">
    <button type="submit">Upload Json</button>
</form>

<button class="submitButton" onclick="showLog()" type="button">View Log</button>

<div class="modal" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <textarea id="logContent" readonly style="resize:none; scroll:auto; width: 100%; height: 50vh;"></textarea>
    </div>
</div>

<script>
    async function loadLog() {
    var response = await fetch("/load_log");
    var data = await response.json();
    return data;
    }

    function showLog() {
    openModalPopup("myModal", "close");

    loadLog().then(function(logData) {
    document.getElementById("logContent").value = logData;
    });


}
</script>

{% endblock %}