{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'woe/Chart.js' %}"></script>
{% endblock %}
{% block content %}


<br>
INDEX / USER PAGE STUFF IN HERE
<br>


<div>
    <select id="view_select" onchange="show_hide_divs(this);">
        <option value="observation_div">Single Observation</option>
        <option value="compare_div">Compare Two Locations</option>
        <option value="single_chart_div">Single Chart</option>
        <option value="double_chart_div">Double Chart</option>
        <option value="single_chart_multi_div">Single Chart Multi</option>
    </select>
</div>

<div id="observation_div" name="observation_div" class="div_hideable">
    <h2>Observations:</h2>

    <ul>
        {% for obs in observations %}
        <li>{{ obs.air_temp }}</li>
        {% endfor %}
    </ul>

    <select id="location_select" name="location_dropdown" onchange="do_ajax(this, 'ajax_example')">
        {% for loc in locations %}
        <option value="{{loc.id}}">{{loc.location}}</option>
        {% endfor %}
    </select>

    <div id="ajax_example" name="ajax_example">

    </div>
</div>

<div id="compare_div" name="compare_div" class="div_hideable">
    <p>Compare</p>
    <div id="observation1" name="observation1">
        <p>Observation 1</p>
    </div>
    <div id="observation2" name="observation2">
        <p>Observation 2</p>
    </div>
</div>

<div id="single_chart_div" class="div_hideable">
    <p>Single Chart</p>
    <canvas id="chart_single" style="width:100%;max-width:700px;"></canvas>
</div>

<div id="double_chart_div" class="div_hideable">
    <p>Double Chart</p>
    <canvas id="chart_compare_obs1" style="width:100%;max-width:700px;"></canvas>
    <canvas id="chart_compare_obs2" style="width:100%;max-width:700px;"></canvas>
</div>

<div id="single_chart_multi_div" class="div_hideable">
    <p>Single Chart Multi</p>
    <canvas id="chart_multi" style="width:100%;max-width:700px;"></canvas>
</div>

{% endblock %}