{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'woe/Chart.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", (event)=>{
    do_ajax(document.getElementById('location_select_opt1'), 'ajax_location_1');
    do_ajax(document.getElementById('location_select_opt2'), 'ajax_location_2');
    do_ajax(document.getElementById('location_select_opt3'), 'ajax_location_3');
});
</script>
{% endblock %}
{% block content %}
<h1>User Page</h1>
<div>
    <select id="view_select" onchange="show_hide_divs(this);">
        <option value="observation_div">Single Observation</option>
        <option value="compare_div">Compare Two Locations</option>
        <option value="single_chart_div">Single Chart</option>
        <option value="double_chart_div">Double Chart</option>
        <option value="single_chart_multi_div">Single Chart Multi</option>
    </select>
</div>

<div id="observation_div" name="observation_div" class="div_hideable">
    <h2>Observations:</h2>

    <ul>
        {% for obs in observations %}
        <li>{{ obs.air_temp }}</li>
        {% endfor %}
    </ul>

    <select id="location_select_opt1" name="location_dropdown" onchange="do_ajax(this, 'ajax_location_1')">
        {% for loc in locations %}
        <option value="{{loc.id}}">{{loc.location}}</option>
        {% endfor %}
    </select>

    <div id="ajax_location_1" name="ajax_location_1">

    </div>
</div>

<div id="compare_div" name="compare_div" class="div_hideable">
    <p>Compare</p>
    <div id="observation1" name="observation1">
        <p>Observation 1</p>
        <select id="location_select_opt2" name="location_dropdown" onchange="do_ajax(this, 'ajax_location_2')">
            {% for loc in locations %}
            <option value="{{loc.id}}">{{loc.location}}</option>
            {% endfor %}
        </select>
        <div id="ajax_location_2" name="ajax_location_2">

        </div>
    </div>
    <div id="observation2" name="observation2">
        <p>Observation 2</p>
        <select id="location_select_opt3" name="location_dropdown" onchange="do_ajax(this, 'ajax_location_3')">
            {% for loc in locations %}
            <option value="{{loc.id}}">{{loc.location}}</option>
            {% endfor %}
        </select>
        <div id="ajax_location_3" name="ajax_location_3">

        </div>
    </div>
</div>

<div id="single_chart_div" class="div_hideable">
    <p>Single Chart</p>
    <select id="location_select_opt4" name="location_dropdown"
            onchange="get_data_example('chart_single');">
        {% for loc in locations %}
        <option value="{{loc.id}}">{{loc.location}}</option>
        {% endfor %}
    </select>
    <select id="type_select_opt1" name="type_select">
        <option value="dewpt">Dew Point</option>
        <option value="dewpt">Air Temperature</option>
        <option value="dewpt">Wind Speed</option>
        <option value="dewpt">Wind Direction</option>
    </select>
    <select id="timeframe_select_opt1" name="timeframe_select">
        <option value="24hr">Last 24 Hours</option>
        <option value="week">Last 7 Days</option>
        <option value="month">Last 30 Days</option>
    </select>
    <br>
    <canvas id="chart_single" style="width:100%;max-width:700px;"></canvas>
</div>

<div id="double_chart_div" class="div_hideable">
    <p>Double Chart</p>
    <select id="location_select_opt5" name="location_dropdown" onchange="console.log(this.value)">
        {% for loc in locations %}
        <option value="{{loc.id}}">{{loc.location}}</option>
        {% endfor %}
    </select>
    <select id="location_select_opt6" name="location_dropdown" onchange="console.log(this.value)">
        {% for loc in locations %}
        <option value="{{loc.id}}">{{loc.location}}</option>
        {% endfor %}
    </select>
    <br>
    <canvas id="chart_compare_obs1" style="width:100%;max-width:700px;"></canvas>
    <br>
    <canvas id="chart_compare_obs2" style="width:100%;max-width:700px;"></canvas>
</div>

<div id="single_chart_multi_div" class="div_hideable">
    <p>Single Chart Multi</p>
    <select id="location_select_opt7" name="location_dropdown" onchange="console.log(this.value)">
        {% for loc in locations %}
        <option value="{{loc.id}}">{{loc.location}}</option>
        {% endfor %}
    </select>
    <select id="location_select_opt8" name="location_dropdown" onchange="console.log(this.value)">
        {% for loc in locations %}
        <option value="{{loc.id}}">{{loc.location}}</option>
        {% endfor %}
    </select>
    <br>
    <canvas id="chart_multi" style="width:100%;max-width:700px;"></canvas>
</div>

{% endblock %}